<ion-header>
  <ion-toolbar>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Currency</ion-label>
      <ion-input formControlName="currency"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="save()" [disabled]="form.invalid">Update</ion-button>
</ion-content>
